  <form action="/curso/create" method="POST">
      <h1>Adicionar Curso</h1>
  <fieldset>
   <div class="form-group">
      <label for="sigla">Sigla</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="" name="sigla" value="{{curso.sigla}}">
      <div class="invalid-feedback d-block">{{showError errors 'sigla'}}</div>
    </div>
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="" name="nome" value="{{curso.nome}}">
      <div class="invalid-feedback d-block">{{showError errors 'nome'}}</div>
    </div>
   
    <div class="form-group">
      <label for="exampleTextarea">Descrição</label>
      <textarea class="form-control" id="exampleTextarea" rows="3" name="descricao"></textarea>
    </div>
    </fieldset>
     <fieldset class="form-group">
      <legend>Area de Conhecimento</legend>
      <div class="form-check">
        <label class="form-check-label"> 
          {{#each areas}}
          <input type="radio" class="form-check-input" name="id_area"  value="{{id}}" checked=""><li>{{nome}}</li> 
           {{/each}} 
        </label>
      </div>
    </fieldset>
      <input type="hidden" name="_csrf" value="{{token}}">
    <button type="submit" value="Enviar" class="btn btn-primary">Criar Curso</button>
  </fieldset>
</form>
