<h1>Criar Conta</h1>
<h6>Deseja criar uma conta? Basta preencher o formulário abaixo.</h6>
<form action="/user/create" method="post">
  <fieldset>
      <label for="nome">Nome</label>
          <input type="text" class="form-control" name="nome" value="{{user.nome}}">      
      <div class="invalid-feedback d-block">{{showError errors 'nome'}}</div>
   
    <div class="form-group">
      <label for="senha">Senha</label>
      <input type="password" class="form-control" id="senha" name="senha">
      <div class="invalid-feedback d-block">{{showError errors 'senha'}}</div>

    </div>

    <div class="form-group">
      <label for="email">Endereço de E-mail</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email"
        name="email">
    </div>
    <div class="form-group">
      <label for="curso">Qual o seu curso na UFAM</label>
      <select class="form-control" id="curso" name="id_curso" value="{{user.id_curso}}">
        {{#each cursos}}
        <option value="{{id}}">{{nome}}</option>
        {{/each}}
      </select>
    </div>
  <input type="hidden" name="_csrf" value="{{csrf}}">
  <button type="submit" value="Enviar" class="bbtn btn-primary btn-lg">Criar Conta</button>
  </fieldset>
</form>